@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

#header {
    padding: 0 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
}

.pslogo {
    height: 45px;
    width: 70px;
    padding: 12px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 2rem;
    text-decoration: none;
}

.icons {
    color: rgb(165, 165, 165);
}

.container-1 {
    padding: 50px 300px;
    display: flex;
    flex: 1 1 auto;
    justify-content: space-between;
    align-items: center;
    gap: 45rem;
    background-color: #1f2937;
}

.article {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: left;
    align-self: center;
    gap: 1rem;
    text-align: left;
    color: rgb(205, 205, 205);
}


.ps5homepagebutton {
    height: 50px;
    width: 250px;
    padding: 5px 20px;
    font-weight: bold;
    font-size: 20px;
    color: whitesmoke;
    border: whitesmoke solid 2px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    background-color: rgb(18, 117, 238);
    cursor: pointer;
}

.ps5console {
    height: 290px;
    width: 500px;
    border-radius: 15px;
    flex-shrink: 0;
}

.container-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 300px;
    gap: 2rem;
    background-color: whitesmoke;
}

.playstations {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding-bottom: 50px;
    font-weight: 800;
}

.playstations img {
    height: 200px;
    width: 370px;
    box-sizing: border-box;
    border-radius: 25px;
    border: solid #919191;
    box-shadow: 0 0 0 rgba(0, 0, 0, 1);
}

.container-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 150px 300px;
    background-color: #919191;
}

.quote {
    font-size: 35px;
    font-style: italic;
}

.author {
    font-size: 25px;
    font-weight: bold;
    align-self: flex-end;
}

.container-4 {
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 auto;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(18, 117, 238);
    border-radius: 10px;
    margin: 100px 250px;
    padding: 50px 170px;
}

.container-4 h2 {
    color: whitesmoke;
    font-weight: bold;
    font-size: 32px;
}

.container-4 button {
    height: 70px;
    width: 190px;
    font-weight: bold;
    font-size: 25px;
    color: whitesmoke;
    border: whitesmoke solid 2px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    background-color: rgb(18, 117, 238);
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: whitesmoke;
    font-size: 20px;
    padding: 50px 300px
}